{% extends 'base.html' %}

{% load static %}

{% block content %}
Upload your processed database directories.
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="myfile" webkitdirectory mozdirectory>
    <button type="submit">Upload</button>
  </form>

  {% if uploaded_file_url %}
    <p>Directory uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
  {% endif %}

  <p><a href="{% url 'home' %}">Return to home</a></p>
{% endblock %}

